<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% if title %}
                {{title}} - Employee Record Management System
            {% else %}
                Welcome - Employee Record Management System
            {% endif %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/erms.css">
        <link rel="icon" href="/static/images/favicon.png">
    </head>
    <body>
        {% with messages=get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
